<div class="container">    
  <div class="row">
      <div class="col-sm-8 col-centered">
          <div class="control-group">
              <label for="select-country">Search for country:</label>
              <select id="select-country" placeholder="Start typing here..."></select>
            </div>
        <hr />
        <div class="card" [routerLink]="['/country-details', country.alpha3Code]" *ngFor="let country of countriesToDisplay">
          <img class="card-img" src="{{ country.flag }}" alt="{{ country.alpha3Code }}">
          <div class="card-block">
            <h5 class="card-title">{{ country.name }}</h5>
            <span class="card-text" *ngFor="let language of country.languages">
              {{ language.nativeName }} 
            </span>
          </div>
        </div>
      </div>
  </div>
</div>

