<div class="container">    
  <div class="row">
      <div class="col-sm-8 col-centered">
          <div class="control-group">
              <label for="select-country">Search for country:</label>
              <select id="select-country" placeholder="Start typing here..."></select>
            </div>  
        <hr />
        <div class="card" [routerLink]="['/country-details', country.name]" *ngFor="let country of countriesToDisplay">
          <img class="card-img" src="http://via.placeholder.com/100x100" alt="{{ country.name }}">
          <div class="card-block">
            <h5 class="card-title">{{ country.name }}</h5>
            <p class="card-text">{{ country.language }}</p>
          </div>
        </div>
      </div>
  </div>
</div>

