
<div class="container">
  <h3>{{currentCountry?.name}}
      <div class="pull-right">
          <div class="icon favorite" (click)="toggle()"><i class="{{ favorite ? 'fa fa-heart' : 'fa fa-heart-o' }}"></i></div>
      </div>
  </h3>
  
  <hr />
  <small class="highlight">COUNTRY INFORMATION</small>
  <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <div class="tile-stats">
                <div class="icon tile-icon"><i class="fa fa-globe"></i></div>
                <p>Capital</p>
                <h4>{{currentCountry?.capital ? currentCountry?.capital : "NA"}}</h4>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="tile-stats">
                <div class="icon tile-icon"><i class="fa fa-universal-access"></i></div>
                <p>Subregion</p>
                <h4>{{currentCountry?.subregion ? currentCountry?.subregion : "NA"}}</h4>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="tile-stats">
                  <div class="icon tile-icon"><i class="fa fa-snowflake-o"></i></div>
                  <p>Region</p>
                  <h4>{{currentCountry?.region ? currentCountry?.region : "NA"}}</h4>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="tile-stats">
                    <div class="icon tile-icon"><i class="fa fa-industry"></i></div>
                    <p>Area</p>
                    <h4>{{currentCountry?.area ? currentCountry?.area : "NA"}}</h4>
                </div>
              </div>
         </div> 
        </div> 
    <div class="col-sm-3">
        <div class="tile-stats" style="height: 243px;">
            <p>Population</p>
            <h4>{{currentCountry?.population ? currentCountry?.population : "NA"}}</h4>
            <div class="icon tile-icon"><i class="fa fa-street-view"></i></div>
        </div>
    </div>
  </div>

  <hr />
  <small class="highlight">CURRENCIES</small>
  <div class="form-group">
      <label>Name: </label>
      <label>{{currentCountry?.currencies[0].code}}</label>  
  </div>
  <div class="form-group">
      <label>Symbol: </label> 
      <label>{{currentCountry?.currencies[0].symbol}}</label> 
  </div>
  <hr />
  <small class="highlight">LOCATION</small>
  <div *ngIf="currentCountry?.latlng">
       <agm-map [latitude]="currentCountry?.latlng[0]" [longitude]="currentCountry?.latlng[1]">
      <agm-marker [latitude]="currentCountry?.latlng[0]" [longitude]="currentCountry?.latlng[1]">
          <agm-info-window>{{currentCountry.name}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>